#!/usr/bin/env python
PACKAGE = "unav2_hardware"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
settingscommands = gen.enum([ gen.const("None",  int_t, 0, "No operation"),
                   gen.const("Store", int_t, 1, "Store the configuration to onboard uNav flash"),
                   gen.const("Reload", int_t, 2, "Reload the configuration from uNav flash")
                   ], "Settings")
gen.add("settings_command", int_t, 0, "Configuration Command", 0, 0, 2, edit_method=settingscommands)
operationmode = gen.enum([ gen.const("motors_disabled",  int_t, 0, "Disable motors"),
                      gen.const("normal", int_t, 1, "Normal operation"),
                      gen.const("emergency_stop", int_t, 2, "Emergency stop")
                      ], "Operation")
gen.add("operation_mode", int_t, 0, "Operation mode", 0, 0, 2, edit_method=operationmode)
gen.add("pid_debug", bool_t, False, "Enable detailed logging of PID controllers status", False)

exit(gen.generate(PACKAGE, "unav_node", "UnavOperation"))